body{
    background-color:green}
    font=family;Times New Roman;
}
p body p{
      font-size: 30px;
      
      
}

h1{
    text-align: center;
    border: blue 3px solid;
    }

img{
    borber: green Spx double;
   width: 300; 
   height: 200; 
   
    
}
